[flake8]
ignore = E266, E114, E116, E201, E202, E203, E117, E211, E231, E225, E226, E303, E251, E122, E272, W391,
    E126, # continuation line over-indented for hanging indent
    E131, # continuation line unaligned for hanging indent
    E301, # expected 1 blank line, found 0
    E302, # expected 2 blank lines, found 1
    W504  # line break after binary operator
max-line-length = 80
